.image-container{
  background-image: url('../images/background.jpg');
  background-size: cover;
  display: flex;
  position: relative;
  width: 100%;
  height: 500px;
}

.image-card-container{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  justify-content: space-evenly;
  z-index: 1000;
  width: 100%;
  height: 50%;
  top: 150px;

}

.grade-card-home{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 200px;
  background-color: white;
  border: 5px #03405f solid;
}

.seal{
  height: 80%;
  z-index: 1;
}

.grade{
  position: absolute;
  height: 50%;
  z-index: 2;
}

.grade-pending{
  position: absolute;
  height: 30%;
  z-index: 2;
}

@media (max-width: 575.98px){
  .grade-card{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: white;
    border: 5px #03405f solid
  }
}
