.homepage-image{
  height: 15%;
  width: 100%;
}

.homepage-container{
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #03405f;
}

.image-container{
  top: 50px;
}
