.restaurants-page-container{
  height: 100%;
  display: flex;
  flex-flow: column;
}

.header-container{
  height: 20%;
}

.header-image-container{
  display: flex;
  height: 250px;
  background: no-repeat center/100% url('../images/restaurant-header.jpg');
  background-position-y: 65%;
  opacity: 0.8;
}

.sort-filter-container{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-left: 8%;
  padding-right: 8%;
}

@media all and (max-width: 375px){
.sort-filter-container{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
  padding-left: 2%;
  padding-right: 2%;
}
}

.pagination-container{
  width: 100%;
  display: flex;
  padding-bottom: 2%;
  justify-content: center;
}

.header-text {
  display: flex;
  position: relative;
  flex-flow: column;
  align-content: flex-start;
  justify-content: center;
  height: 100%;
  left: 10%;
  font-size: 25px;
  color: #C0C0C0;
  opacity: 0.9;
}

.search-text{
  width: 120px;
  padding-left: 5px;
  background-color: white;
}

.search-result{
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #50C5EF;
  color: white;
}
