.restaurants-page-container{
  height: 100%;
  display: flex;
  flex-flow: column;
}

.header-container{
  height: 20%;
}

.header-image-container{
  display: flex;
  height: 250px;
  background: no-repeat center/100% url('../images/restaurant-header.jpg');
  background-position-y: 65%;
  opacity: 0.8;
}

.restaurant-cards-container{
  margin-top: 30px;
}
